body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.black {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.dvd {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: center;
}

.cls1 {
  fill: #ed6f73;
}
.cls1,
.cls2 {
  opacity: 0.85;
}
.cls2 {
  fill: #39acd3;
}
.cls3 {
  fill: #fff;
}
